{{#is this 'form-param'}}/*TODO: NOT SUPPORTED YET*/{{#isNot this 'file'}}{{#is this 'multipart'}}@Part{{/is}}{{#isNot this 'multipart'}}@Field{{/isNot}}("{{baseName}}") {{{dataType}}} {{paramName}}{{/isNot}}{{#is this 'file'}}{{#is this 'multiPart'}}@Part{{/is}}{{#isNot this 'multiPart'}}@Field{{/isNot}}("{{baseName}}\"; filename=\"{{baseName}}") RequestBody {{paramName}}{{/is}}{{/is}}